html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}
  
body {
    margin: 0;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;

    /* We need to put display to flex to work with flex properties */
    display: flex;
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;

    /* 
    The following code means flex: 1 1 0; which is:
        flex-grow: 1;     // will grow in same proportion as window-size
        flex-shrink: 1;   // will shrink in same proportion as window-size
        flex-basis: 0;    // No starting value, divs will take up size avaiable.

    flex: 1; is used on flex divs to spread out items to rest of space evenly
    */
    flex: 1;

    /* 
    Code below is used to create a flex container on the panel divs. A div
    can be both a flex item and a flex container. 
     */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/* Flex Children */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;

    /*
    Added flex properties to flex child of .panel div. Also made children flex
    containers to center the child using flex code.
    */
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*

*/
.panel > *:first-child { transform: translatey(-100%); }
.panel > *:last-child { transform: translatey(100%); }

.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}
  
.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    font-size: 40px;
}